{% extends 'base.html.twig' %}

{% block title %}Лот: {{ good.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/goods_style.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/tabel.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
{% endblock %}


{% block main %}
  <div class="profil">
    <div class="contant">
        <div class="product-photo">
            <img src="/images/no_icon.png" alt="">
        </div>
        <div class="inf_cont">
            <div class="contant_name"> {{ good.name }}</div>

            <div class="prof_inf">
                <p class="">Начальная стоимость: </p>
                <p>{{ good.cost }} руб</p>
            </div>

            <div class="prof_inf">
                <p class="">Моментальный выкуп: </p>
                <p>{{ good.costmax}}  руб</p>
            </div>

            <div class="prof_inf">
                <p class="">Последняя ставка: </p>
                <p>{{ lastBet }} руб</p>
            </div>

            <div class="prof_inf">
                <p class="">Дата окончания лота: </p>
                <p>{{ good.lastdate|date('d-m-Y') }}</p>
            </div>

            <div class="prof_inf btw_con">
                <a href="" class = "btw_box">Редактировать</a>
                <a href="" class = "btw_box">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% if msg %}
    <p class="msg">Товар выкуплен пользователем: {{ msg.username }}</p>
{% else %}
    {{ form_start(goodForm, {
        'attr': {'class':'form_reg'}}) }}
    <div class="container2">
         <hr>
        {{ form_row(goodForm.pay, {
            'attr': {'class':'poleinput'}
        }) }}
        {% if error %}
            <p class="msg">{{ error }}</p>
        {% endif %}
        <button type="submit" class="registerbtn">Сделать ставку</button>

    </div>
    <hr>
    {{ form_end(goodForm) }}
{% endif %}

    <hr>
    <table class="main_rows">
        <thead class="name_rows">
        <tr>
            <th>user</th>
            <th>event</th>
            <th>amount</th>
            <th>date</th>
        <tr>
        </thead>
        <tbody>

        {% for Transaction in Transactions %}
        <tr class ="boss_index_table_offline">
            <td><b>{{ Transaction.getUserId().getUsername() }}</b></td>
            <td>Сделал ставку</td>
            <td><b>{{ Transaction.pay }}</b></td>


            <td>{{ Transaction.date|date('d-m-Y') }}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
    <hr>
    </div>

{% endblock %}