{% extends 'base.html.twig' %}

{% block title %}Аукцион{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/tabel.css">
    <link rel="stylesheet" href="/css/auction.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
{% endblock %}
{% block main %}

        <div class="intro"></div>
        <div class="main">
            <div class="contant">
                <div class="contant_name">АУКЦИОН</div>
                <hr>
                <div class="btw_con">
                    {% if is_granted('ROLE_ADMIN') %}

                        <button type="button" id ="buy-button"  class="btw_use"  >Добавить лот (popup)</button>


                    {% endif %}
                </div>

            <div class="goods">
                <ul class="products clearfix">
                    {% for good in goods %}
                        {% if good.status == 0 or is_granted('ROLE_ADMIN') %}
                        <li class="product-wrapper">
                            <a href="/good/view/{{good.id}}" class="product">
                                <div class="product-photo">
                                    <img src="uploads/brochures/{{ good.images }}" alt="">
                                </div>
                                <div class="soder">
                                    <p class="name_goods">{{ good.name }}</p>
                                    <p>{{ good.cost }} руб</p>
                                </div>
                                <div class="soder">
                                    <p class=" ">Быстрый выкуп: </p>
                                    <p>{{ good.costmax }}  руб </p>
                                </div>
                                <div class="soder">
                                    <p class=" ">Окончание:</p>
                                    <p>{{ good.lastdate|date('d-m-Y') }}</p>
                                </div>

                                <div class="soder">
                                    {% if good.status != 0 %}
                                        <p class=" ">Статус:</p>
                                        <p class=" ">Завершен</p>
                                    {% endif %}
                                </div>


                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            </div>
        </div>
    <div class="popup__bg" id="buy-dialog">

            <img src="style/images/close_img.png" alt="" class="close__popup">

            {{ form_start(goodForm, {
                'attr': {'class':'popup'}}) }}
            <div class="container">
                <h1>Добавить товар</h1><hr>

                {{ form_row(goodForm.images, {
                    'attr': {'class':'label__text  poleinput'}
                }) }}

                {{ form_row(goodForm.name, {
                    'attr': {'class':'label__text  poleinput'}
                }) }}
                {{ form_row(goodForm.cost, {

                    'attr': {'class':'label__text  poleinput'}
                }) }}
                {{ form_row(goodForm.last_date, {
                    'attr': {'class':'label__text  poleinput'}
                }) }}


                <button class="btw_use" type="submit">Загрузить</button>

            </div>

            {{ form_end(goodForm) }}



    </div>


    <script src="/js/popup.js"></script>



{% endblock %}
