{% extends 'base.html.twig' %}

{% block title %}Страница{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/goods_style.css">
    <link rel="stylesheet" href="/css/tabel.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

{% endblock %}


{% block main %}
    <div class="profil">
        <div class="contant">
            <div class="product-photo">
                <img src="/images/no_icon.png" alt="">
            </div>
            <div class="inf_cont">
                <div class="contant_name"> {{ userE.getName() }}</div>
                <div class="prof_inf">
                    <p class="">Login: </p>
                    <p>{{ userE.getUsername() }}</p>
                </div>

                <div class="prof_inf btw_con">




                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}

        {{ form_start(userForm, {
            'attr': {'class':'form_reg'}}) }}
        <div class="container2">
            <hr>
            {{ form_row(userForm.name, {
                'attr': {'class':'poleinput'}
            }) }}

            <button type="submit" class="registerbtn">Поменять</button>

        </div>
        <hr>
        {{ form_end(userForm) }}
    {% endif %}
{% endblock %}